@font-face {
  font-family: 'digital-7regular';
  src: url('fonts/digital7-1e1z-webfont.woff2') format('woff2'),
       url('fonts/digital7-1e1z-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cadetblue;
  color: white;
}
.clock{
  font-size: 15vw;
  font-family: 'digital-7regular';
}